<%- include('header', {title}) %>
<section class="section container">
  <h1 class="page-title"><%= code %></h1>
  <p><%= message %></p>
  <a href="/" class="btn">홈으로</a>
</section>
<%- include('footer') %>
